<section>
  <div class="container">
    <br><br>
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Events", events_path %></li>
        <li class="breadcrumb-item"><%= link_to "#{@event.title}", event_path(@event) %></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
      </ol>
    </nav>
  </div>
</section>

<div class="container">
  <h1 class="text-center">Edit Event</h1>

  <%= render 'form' %>
</div>